.blueButton {
	-fx-background-color: #385cfc;
	-fx-text-fill: #fff;
	-fx-border-width: 2px;
    -fx-border-color: #385cfc;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.blueButton:hover {
	-fx-background-color: #fff;
	-fx-text-fill: #385cfc;
	-fx-border-width: 2px;
    -fx-border-color: #385cfc;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.smallButton {
	-fx-pref-height: 15;
    -fx-pref-width: 123;
    -fx-font-size: 11px;
}

.redButton {
	-fx-background-color: #D7263d;
	-fx-text-fill: #fff;
	-fx-border-width: 2px;
    -fx-border-color: #D7263d;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.redButton:hover {
	-fx-background-color: #fff;
	-fx-text-fill: #D7263d;
	-fx-border-width: 2px;
    -fx-border-color: #D7263d;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.dataGrid {
	-fx-background-radius: 5;
}

.columnHeader {
	-fx-background-color: #D7263d;
	-fx-pref-height: 35px;
}

.columnHeader .label {
	-fx-text-fill: #fff;
	-fx-font-size: 13px;
}

.startCorner {
	-fx-background-radius:  10 0 0 0;
}

.endCorner {
	-fx-background-radius:  0 10 0 0;
}

.categoryComboBox .list-cell {
    -fx-cursor: hand;
}